.containerDS {
    background-color: black;
    display: flex;
    flex-direction: row;
    padding: 10px;

}
.test{
    display: flex; 
    justify-content: center; 
    text-align: center;

}
.affichageDS {
    color: white;
    word-break: break-all;
    width: 10em;

}

.imageSimilar {
    height: 15em;
    width: 10em;
}