.container {
        background-color: black;
        display: flex;
        justify-content: space-around;
        display: inline-block;
        border: 1px solid white; 
}

.affichageDS {
    color: white;
    word-break: break-all;
    border: 1px solid white;
    width: 10em;
    


}

.imageSimilar {
    height: 15em;
    width: 10em;
}