.corps {
    background-color: black;
    width: 100%;
    height: 100%;
    margin-top: 80px;   
}

.corps p {
    color: black;
    text-align: center;
    margin: 20px;
}

.bubble_1 {
    border: 2px solid white;
    background-color: white;
    border-radius: 10px 100px / 120px;
    width: 400px;
    margin-bottom: 80px;
    margin-right: auto;
    margin-left: auto;
}

.photo_demo {
    display: flex;
    justify-content: center;
}

.photo_demo img {
    width: 10%;
    height: 10%;
    padding: 5px;
}

.bubble_2 {
    border: 2px solid white;
    background-color: white;
    border-radius: 100px 10px / 120px;
    width: 400px;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-right: auto;
    margin-left: auto;
}

.cloche-coul {
    display: flex;
    justify-content: center;
}

.cloche-coul img {
    max-width: 50px;
    min-width: 20px;
    max-height: 50px;
    min-height: 20px;
}

.bubble_3 {
    border: 2px solid white;
    background-color: white;
    border-radius: 10px 100px / 120px;
    width: 400px;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-right: auto;
    margin-left: auto;
}

