
.fond{
    position: absolute;
    top: 0;
    height: 280px;
    width: 100%;

}
.logo{
    position: absolute;
    top: 0px;
    margin: 60px;
    width : 60px;
    height: 60px;
    z-index: 1;
}

.titre{
    position: absolute;
    top: 0px;
    margin: 80px;
    margin-left: 150px;
    z-index: 1;
    font-size: 26px;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
   
    

}

