

.Upcoming{
    background-color: black;
}
.Upcoming .wrapper img{
    width: 80%;
    padding: 8%;
    opacity: 0.5;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out; 
}
.Upcoming .wrapper img:hover{
    opacity: 1;
    -webkit-transform: scale(1.3);
	transform: scale(1.3); 
}

.Upcoming .box{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 5px; 
}