.Upcoming{
    background-color: black;
}
.Upcoming .wrapper img{
    width: 80%;
    padding: 8%;
    opacity: 0.5;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out; 
}
.Upcoming .wrapper img:hover{
    opacity: 1;
    -webkit-transform: scale(1.3);
	transform: scale(1.3); 
}

.Upcoming .box{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 5px; 
}
.Upcoming h1{
    text-align: center;

    margin-bottom: 100px;
    text-transform: uppercase;
    font-weight: bold;
    font-family:'Quicksand';
    background: linear-gradient(to left, #ff22da, #1400ca);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}