body{
    background-color: black;
}
/* @font-face{
    font-family:'Raleway';
    font-family: "Montserrat", "Quicksand", "Raleway";
    src: url('https://fonts.googleapis.com/css?family=Raleway');
} */
p{
    font-family:'Quicksand';
    /* font-family:'Montserrat'; */
    /* font-family:'Raleway'; */
}
h1{
    font-family:'Quicksand';
    /* font-family:'Montserrat'; */
    /* font-family:'Raleway'; */
}
/* LES TEXTES EN BLANCS */
.descri, .titleTitre, .date, .descri, .realisateur, .duree, .genres{
    color: white;
}

/* ---- AFFICHGENRES.JS ---- */
.genres{

}
/* ---------------- */


/* ---- AFFICHAGESBIS.JS ---- */
/* général */
.pageFilm{
}

/* image de Fond */
.imageFond{
    position: absolute;
    height: 30em;
    opacity: 0.75;
    top: 0;
}

/* affiche du film */
.affichette{
    height: 300px;
    position: relative;
    padding-left: 5%;
}

/*  */
/* .containerDateReal{
    display: inline-block;
} */

/* titre du film */
.titleTitre{
    text-transform: uppercase;
    position: relative;
}

/* synopsis */
.descri{
    position: relative;
    padding-left: 30%;
    text-align: justify;
    padding-right: 5%;
    padding-top: 50px;
}

/* date */
.titreDate{
    font-family:'Raleway';
    color: white;
}
.date{
    /* margin-top: 15%; */
}
/* ---------------- */

/* ---- ACTEURS.JS ---- */

.containerActor{
    display: inline-block;
    text-align: center;
}
.actorProfile{
    height: 60px;
    width: 60px;
    border-radius: 100px;
    object-fit: cover;
}

.actorName{
    color: white;
}
/* ---------------- */
