.forgetPass{
    position: absolute;
    top: 0;
    margin: 0 auto;
    opacity: 1;
    border: 1px solid white;
    border-radius: 10px;
    /* background-color: white; */
    position: fixed;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 17%;

}
.inputPf  {

    font-family: fantasy;
    border-radius: 5px;
    width: 70%;
}

.buttonPf {

    font-family: fantasy;
    border-radius: 5px;
    padding-top: 3px;
    width: 38%;
    background-color: #bcaaa4 ;
    color: black;
    font-weight: bold;


}

.PasswordForget {

    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
}

.titlePf {

    text-align: center;
    font-family: fantasy;
}

.mdp {

    text-align: center;
    margin-bottom: 10px;
}