.inputPf  {

    font-family: fantasy;
    border-radius: 5px;
    width: 25%;
    margin-top: 10%;
}

.buttonPf {

    font-family: fantasy;
    border-radius: 5px;
    padding-top: 3px;
    width: 18%;
    background-color: #bcaaa4 ;
    color: black;
    font-weight: bold;


}

.PasswordForget {

    margin-left: 37%;
    margin-top: -90px;
}

.titlePf {

    text-align: center;
    font-family: fantasy;
}

.mdp {

    text-align: center;
    margin-top: 100px;
}