
.merde h1{
    color: white;
    text-align: center;
    margin-top:180px
}
.wrappeur h2{
    color: white;
    text-align: center; 
}
.wrappeur p{
    color: white;
    height: 100px;
    overflow:auto
}
.wrappeur img{
    width: 160px;
    height: 250px;
}
.wrappeur h3{
    color: purple
}
.wrappeur{
    margin:5px;
    width: 350px;    
}
.merde .ro{
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin:5px;
    width: 100%;

}
