
.headerView{
    display: flex;
    justify-content: space-between;
}
.headerView img {
    float: right;
    position: relative;
    top: 0px;
    width: 600px;
    height: 337px;
}

.headerView h1 {
    position: relative;
    left:300px;
    top:100px;
    z-index: 20000;
  
}


.headerView .degrade {
    background: linear-gradient(to right, black, transparent);
    width: 600px;
    height: 337px;
    position: absolute;
    right: 0;
    z-index: 1;

}