.linksbuttons{

    list-style-type: none;
    text-align: right;
    margin-left: 80%;
}

ul, li,Navlink{
    list-style-type: none;
}
.btncolor {
    opacity: 1;
    font-weight: bold;
    width: 220px;
}

.btncolor2 {
    opacity: 1;
    font-weight: bold;
    width: 220px;

}


body {
    background-color: black !important;
}