.inscription{
  position: absolute;
  top: 0;
  padding-top: 14%;
  padding-bottom: 3%;
  margin: 0 auto;
  position: fixed;

}
.cardsignin {
  display: flex;
  opacity: 1;
  margin-left: 100%;
  margin-right: 100%;
  margin-top: 15px;
  margin-bottom: 110px;
  border-radius: 10px;
  width: 450px;
}

button {

  background-color: black;
  opacity: 0.6;
  color: white;
  margin-top: 105px;

}
.btn.btn-elegant.btn-lg.Ripple-parent  {
  position: absolute;
  z-index: 2;
  top:0px;
  right: 60px;
  margin: 60px
  
  
}

.cardsignin .fa {
    font-size: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 55px;
    
}


.cardsignin .fa-facebook-square {
  color : #3b5998;
}

.cardsignin .fa-google {
  color: #db3236;
}

.cardsignin .fa-twitter {
  color : #1dcaff;
}

