.cardsignin {
  display: flex;
  opacity: 0.6;
  margin-left: 120%;
  margin-top: 15px;
  margin-bottom: 110px;
  border-radius: 10px;
  width: 450px;
}

button {

  background-color: black;
  opacity: 0.6;
  color: white;
}

.cardsignin .fa {
    font-size: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 55px;
    
}


.cardsignin .fa-facebook-square {
  color : #3b5998;
}

.cardsignin .fa-google {
  color: #db3236;
}

.cardsignin .fa-twitter {
  color : #1dcaff;
}

