.corps {
    background-color: black;
    width :100%;
    height: 100%;
    margin-top: 20px;
    

    
}

.corps p{
    color: white;
    text-align: center;
    margin: 20px;
    
}
.bubble_1{
    border: 2px solid white;
    border-radius: 10px 100px / 120px;
    width: 300px;
    margin-bottom: 220px;
    display: inline-block;

}
.bubble_2{
    border: 2px solid white;
    border-radius: 100px 10px / 120px;
    width: 300px;
    margin-bottom: 120px;
}
.bubble_3{
    border: 2px solid white;
    border-radius: 10px 100px / 120px;
    width: 300px;
    margin-bottom: 20px;
}