body{
    width:100%;
    background-color: black;
    color: white;
}

.contain1 h2{
    padding-left: 50px;
    position: relative;
    top: 60px;

}

.contain1 .gauche_1{
    cursor: pointer;
    position: fixed;
    position : relative;
    top :205px;
    z-index:40;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.4);
}
.contain1 .gauche_1:hover{
    opacity: 1;
}
.contain1 .droite_1{
    cursor: pointer;
    position: fixed;
    position : absolute;
    background-color: rgba(0, 0, 0, 0.4);
    top :1095px;
    right: 0px;
    z-index:40;
    opacity: 0;
}
.contain1 .droite_1:hover{
    opacity: 1;
}
.slides .ajout{
    position : absolute;
    top:12px;
    right: 3px;
    width:10%;
}
.slides .cloche{
    position : absolute;
    top:30px;
    right: 3px;
    width:10%;
}
.slides .cloche_coul{
    position : absolute;
    top:30px;
    right: 3px;
    width:10%;
}
.slides .check{
    position : absolute;
    top:48px;
    right: 3px;
    width:10%;
}
.slides .check_coul{
    position : absolute;
    top:48px;
    right: 3px;
    width:10%;
}
.slides .boutonAjout{
    position : absolute;
    top:4px;
    right: 3px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    z-index: 20;
    opacity:0;
}
.slides .boutonCloche{
    position : absolute;
    top:28px;
    right: 3px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    opacity:0;
    z-index: 20;    
}
.slides .boutonChecked{
    position : absolute;
    top:52px;
    right: 3px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    opacity:0;
    z-index: 20;
}
.slides figure.off .cloche{
     visibility: hidden;
}

.slides figure.off .check{
    visibility: hidden;
}
.slides figure.on .cloche_coul{
    visibility: hidden;
}
.slides figure.on .check_coul{
    visibility: hidden;
}

.slides figure.yellow .cloche_coul {
    visibility: hidden;
}
.slides figure.checked .check_coul {
    visibility: hidden;
}
    
.slides .tile_title h4{
    text-align: center;
    line-height: 0px;
    word-break: normal;
}

.contain1 .row{
    display: flex;
    flex-direction: row;
    margin-right: 1px;
    margin-left: 1px;
    overflow: scroll;
    scroll-behavior: smooth;
}
.slides .row_inner{
    transition: 450ms -webkit-transform;
    transition: 450ms transform;
    transition: 450ms transform, 450ms -webkit-transform;
    margin: 50px 0;
    z-index: 100;
}

.slides .tile {
    position: relative;
    display: inline-block;
    width: 160px;
    height: 250px;
    margin-right: 15px;
    cursor: pointer;
    transition: 450ms all;
    -webkit-transform-origin: center left;
            transform-origin: center left;
    font-size: 8px;
    font-weight: bold;
    opacity: 0.4;

  }
  .slides .tile_img {
    width: 160px;
    height: 250px;
    -o-object-fit: cover;
    object-fit: cover;
}
.slides .tile_media img{
    width: 160px;
    height: 250px;
}
.slides .tile_details {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    top:0px;
    opacity: 0;
    background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
    
  }

.slides .tile_details h4 {
    word-break: normal;
    text-align: justify; 
    color:white;
    position: absolute;
    bottom: 0px;
    padding: 4px;

  }
  .slides .tile_details p {
    word-break: normal;
    text-align: justify; 
    color:white;
    position: absolute;
    bottom: 16px;
    padding: 4px;

  }
.slides .tile_details button{
    border-radius: 9px;
  }

.slides a:link,     
.slides a:hover,
.slides a:active,
.slides a:visited {
  transition: color 150ms;
  color: #95a5a6;
  text-decoration: none;
  
}
.slides a:hover {
  color: #7f8c8d;
  text-decoration: underline;
}
.slides .tile:hover .tile_details {
  opacity: 1;
}
.slides .row_inner:hover {
  -webkit-transform: translate3d(-66.5px, 0, 0);
          transform: translate3d(-66.5px, 0, 0);
          z-index: 10000;

} 
.slides .contain1 :hover .tile {
    opacity: 1;
}
.slides .row_inner:hover .tile:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
          opacity: 1;
}
.slides .tile:hover ~ .tile {
  -webkit-transform: translate3d(135px, 0, 0);
          transform: translate3d(135px, 0, 0);
}
