.banniere{
    height: 180px;
    background-color: black;

}
.fond {
    height: 300px;
    width: 100%;
    z-index: -9999999;
    position: relative;
    z-index: 9;
    opacity: 1;

}
.logo{
    width : 80px;
    position: absolute;
    z-index: 24;
    margin: 30px;
}
.titre{
    position: absolute;
    margin-top: 60px;
    z-index: 24;
    left: 150px;
    font-size: 26px;
    color: white
}