

/*.bubble{
  
    
  margin-left: 4%;
  height:  35%;
  width : 50%;

}*/



/*ovale*/
.logo {
	margin-left: 5%;
	margin-top: 5%;
	border-radius: 350px;
	height: 120px;
	width: 280px;
}


/*forme deuxieme rond longueur*/
.logo1 {
	border-radius: 150px;

	left: 50px;
	top: -40px;
	background: #E6E6FA;
}

/*deuxieme rond pour le bas*/
.logo2{

	border-radius: 50%;
	background: #E6E6FA;
	width: 180px;
	top : 30%;
	height: 180px;

	
}
/*postition 2 image*/
.logo1, .logo {
    background: #E6E6FA;
	content: '';
	position: absolute;
	z-indeX: -1;
	
}